#ValidationSummary1 {color:red;
}


#RequiredFieldValidator {color:red;
}


#CompareValidator {color:red;
}


#RequiredFieldValidator1 {color:red;
}


#CompareValidator1 {color:red;
}


#CompareValidatorn {color:red;
}


#RequiredFieldValidator2 {color:red;
}


#CompareValidator2 {color:red;
}


#RangeValidator1 {color:red;
}


